header {
  padding:40px;
  background: #eb8787;
  color: #000080;
}

.header__inner {
  margin: auto;
}

.header__site-title {
  font-style: oblique;
  font-weight: bolder;
  text-align: center;
  font-size: 70px
}

#hamburger-menu {
  margin: 0px
}

ul {
  font-size: 20px
}

#nav-drawer {
  position: relative;
}

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 0px;
}

footer{
  width: 100%;
  background-color: #eb8787;
  color: #000080	;
  text-align: left;
  font-weight: bold;
  font-size: 30px
  padding: 50px;
  position: absolute;
  bottom: 0;
}

.footer__innner {
  padding: 30px
}
